<fieldset class="moodrating">
       
  <input type="radio" id="stara" name="moodrating" value="5" />
  <label class="four" for="stara"></label>

  <input type="radio"  id="starb"  name="moodrating" value="5" />
  <label class="three"  for="starb" ></label>

  <input type="radio"  id="starc" name="moodrating" value="5" />
  <label class="two" for="starc" ></label>

  <input type="radio"  id="stard" name="moodrating" value="5" />
  <label class="one" for="stard" ></label>

    <input type="radio" id="stare" name="moodrating" value="5" />
  <label class="zero"for="stare"></label>
  <fieldset>
