<body>
   
  <ce-grid>
    <ce-row>
      <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">
        <ce-label><i class="fas fa-arrow-left"></i></ce-label>
      </ce-col>

      <ce-col colSize="10" colSizeSm="10" colSizeMd="10" colSizeLg="10" colSizeXl="10">
        <ce-label><i class="fas fa-bars"></i></ce-label>
      </ce-col>
    </ce-row>

  </ce-grid>
  <ce-grid>
    <div class="headerImage">
      <ce-row>
        <ce-col  colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12" class="logo"> <img id="naya"
            src="../../../assets/nayat-logo-fi.png"> </ce-col>
      </ce-row>
    </div>
  </ce-grid>
 

  <ce-grid>
    <div class="form-group">
       <ce-col   colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
        <ce-row>   
          
          <input id="input" type="text" required />   
          <label for="input" alt="Mobile number" placeholder="Mobile number"></label>
        </ce-row>
         <br>
         <ce-row>
              <button class="login" ce-button><a href="otp">Login</a></button>       
         </ce-row>
        </ce-col>
     
     </div>
 
  </ce-grid>

  <ce-grid>
    
      <ce-col  colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
          <div class="footerImage">
        <ce-col>
        <ce-row> <label id="label">POWERED BY</label><br> </ce-row>
        <ce-row> <img ce-card-avatar src="../../../assets/CircleEdges EPS (2).png" class="image"> </ce-row>
      </ce-col>
      </div>
      </ce-col>

  </ce-grid>
</body>