<fieldset class="rating">
  <input type="radio" id="star5" name="rating" value="5" />
  <label class="full" for="star5" title="Awsome"></label>


  <input type="radio" id="star4" name="rating" value="4" />
  <label class="full" for="star4" title="Pretty good" ></label>

  <input type="radio" id="star3" name="rating" value="3" /> 
  <label class="full" for="star3" title="Fine"></label>  

  <input type="radio" id="star2" name="rating" value="2" />
  <label class="full" for="star2" title="Bad"></label>


  <input type="radio" id="star1" name="rating" value="1" />
  <label class="full" for="star1" title="Worst" ></label>
  
</fieldset>