<!-- <div class='container'>
  <div class='top-bar'>
   <div class='bar1'>this is the top</div>
   <div class='bar1'>this is the top </div>
  </div>
  <div class='middle-bar'>
          <div class='bar2'>this is the middle</div>
          <div class='bar2'>this is the middle</div>
  </div>
  <div class='bottom-bar'>
          <div class='bar3'>this is the bottom</div>
          <div class='bar3'>this is the bottom</div>
  </div>
</div> -->

<ce-row>
     <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">
          <i class="far fa-user-circle"></i>
        </ce-col>
        <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">Chriss Rogers</ce-col>
        <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">
          <i class="fas fa-chevron-down"></i>
      </ce-col>

      <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">
          <i class="far fa-user-circle"></i>
        </ce-col>
        <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">Angie Fill</ce-col>
        <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizeLg="2" colSizeXl="2">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
        </ce-col> 
</ce-row>
<ce-row>
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
</ce-row>