<body>
  <div class="all">
    <ce-grid>
      <ce-col>
        <ce-row>
          <ce-label><i class="fas fa-arrow-left"></i></ce-label>
        </ce-row>
        <ce-row>
          <ce-label><i class="fas fa-bars"></i></ce-label>
        </ce-row>
      </ce-col>

    </ce-grid>
    <div >
      <ce-grid>
        <div class="title">
          <ce-row id="res" class="text-align-center mt-2">
            <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizelg="12" colSizeXl="12" class="logo">
              <img id="naya" src="../../../assets/nayat-logo-fi.png">
            </ce-col>
          </ce-row>
        </div>
      </ce-grid>

     
        <ce-card>
          <ce-grid>
            <ce-row class="text-align-center mt-2">
              <ce-label id="center1"><b>ALERT</b></ce-label>
            </ce-row>

            <hr>
            <ce-row>
              <ce-label id="one">
                Incident ID: 345674
              </ce-label>
            </ce-row>
             <br>
            <ce-row>

              <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizelg="2" colSizeXl="2">
                <i class="fas fa-user"></i>
              </ce-col>

              <ce-col id="information" colSize="10" colSizeSm="10" colSizeMd="10" colSizelg="10" colSizeXl="10">
                <ce-row>
                    <ce-label id="one">Tom(Age 25)</ce-label>

                </ce-row>
             
                <ce-row> 
                    <ce-label id="one">1357 Randall Drive,kilauea</ce-label>
                </ce-row>
                

                <ce-row>
                  <ce-label id="one"> Hawaii </ce-label>
                  <ce-label > <i id="one" class="fas fa-map-marker-alt"></i> </ce-label>
                </ce-row>

              </ce-col>

            </ce-row>
 

              <ce-row>
                <ce-label id="one">SOS Message: </ce-label>
              </ce-row>

              <ce-row>
                <ce-label style="color:gray" id="one"> Help me..</ce-label>
              </ce-row>
              <!-- sampele -->
              <br>
               <ce-row class="input1">
                <input id="input" type="text" required />
                <label for="input" alt="Mobile Number" placeholder="Mobile Number"></label>
              </ce-row>
              <ce-row class="input2"> <button ce-button id="send">Send</button></ce-row>
     

          </ce-grid>
        </ce-card>
 
    </div>
    <ce-grid>
        <div class="Footer">
          <ce-row class="text-align-center mt-2">
            <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
              <ce-row>
                <label id="footerLabel">POWERED By </label>
              </ce-row>
              <ce-row>
                <img src="../../../assets/CircleEdges EPS (2).png" class="footerImage">
              </ce-row>
            </ce-col>
          </ce-row>
        </div>
      </ce-grid>
  </div>
</body>