<body>
  <div class="all">
  <ce-grid>
    <div class="topIcons">
      <ce-col>
        <ce-row>
          <i class="fas fa-arrow-left"></i>
        </ce-row>

        <ce-row id="faBars">
          <i class="fas fa-bars"></i>
        </ce-row>
      </ce-col>
    </div>

  </ce-grid>

  <ce-grid>
    <div id="HeaderImage">
      <ce-row>
        <ce-col>
          <ce-label>
            <img class="HeaderImage" src="../../../assets/nayat-logo-fi.png" alt="title">
          </ce-label>
        </ce-col>
      </ce-row>
    </div>
  </ce-grid>
  <ce-grid>

    <form class="formcontainer">

      <div class="form-group">
        <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
          <ce-row>
            <input id="input" type="text" required />   
            <label for="input" alt="Name" placeholder="Name"></label>
          </ce-row>
        </ce-col>
      </div>

      <div class="form-group">
        <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
          <ce-row>

            <input id="input" type="text" required />   
            <label for="input" alt="Date of Birth" placeholder="Date of Birth"></label>

          </ce-row>
        </ce-col>
      </div>

      <div class="form-group">
        <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
          <ce-row>

            <input id="input" type="text" required />   
            <label for="input" alt="Blood Group" placeholder="Blood Group"></label>

          </ce-row>
        </ce-col>
       </div>

       <div class="register-button"> 
        
         <ce-row>
          <button ce-button ><a href="profile">Register</a></button>
        </ce-row>
 
       </div>
    </form>

  </ce-grid>

  <ce-grid>
      <div class="Footer">
        <ce-row class="text-align-center mt-2">
          <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizeLg="12" colSizeXl="12">
            <ce-row>
              <label id="footerLabel">POWERED By </label>
            </ce-row>
            <ce-row>
              <img src="../../../assets/CircleEdges EPS (2).png" class="footerImage">
            </ce-row>
          </ce-col>
        </ce-row>
      </div>
    </ce-grid>
</div>
</body>