<body>
  <div class="all">
    <ce-grid>
      <ce-row>
        <ce-col colSize="6" colSizeSm="6" colSizeMd="6" colSizelg="6" colSizeXl="6">

          <ce-label><i class="fas fa-arrow-left"></i></ce-label>
        </ce-col>
        <ce-col colSize="6" colSizeSm="6" colSizeMd="6" colSizelg="6" colSizeXl="6">
          <ce-label><i class="fas fa-bars"></i></ce-label>
        </ce-col>
      </ce-row>
    </ce-grid>
    <ce-grid>
      <div class="title">
        <ce-row class="text-align-center mt-2">
          <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizelg="12" colSizeXl="12" class="logo"> <img id="naya"
              src="../../../assets/nayat-logo-fi.png"> </ce-col>
        </ce-row>
      </div>
    </ce-grid>
    <ce-grid>
      <div id="card">
        <ce-card class="card">
          <div>
            <ce-row class="text-align-center mt-2">
              <ce-col colSize="12" colSizeSm="12" colSizeMd="12" colSizelg="12" colSizeXl="12">
                <ce-label id="label1"><b>ALERT</b></ce-label>
              </ce-col>
            </ce-row>
            <hr class="hr">
            <ce-row>
              <ce-label id="incident">Incident ID: 375674</ce-label>
            </ce-row>
            <br>
            <!-- 
            <ce-row>
              <ce-col>
                <i class="fas fa-user"></i>
              </ce-col>
              <ce-col>
                <ce-row>
                  <ce-label id="tom">Tom (age 25)</ce-label>
                </ce-row>
                <ce-row>
                  <ce-col>
                    <ce-label id="tom1">1357 Rwandall driver,kiliaueo,</ce-label>
                  </ce-col>
                </ce-row>
                <ce-row>
                  <ce-label id="tom1">Hawall</ce-label>
                  <i class="fas fa-map-marker-alt"></i>
                </ce-row>
              </ce-col>
            
             
            </ce-row> -->
            <ce-row>
                <ce-col colSize="2" colSizeSm="2" colSizeMd="2" colSizelg="2" colSizeXl="2">
                            <i class="fas fa-user"></i>     
                   </ce-col>
                <ce-col id="information" colSize="10" colSizeSm="10" colSizeMd="10" colSizelg="10" colSizeXl="10">          
                  <ce-label id="one">Tom(Age 25)</ce-label><br>          
                  <ce-label id="one">1357 Randall Drive,kilauea</ce-label>                  
                  <ce-row>            
                  <ce-label id="one"> Hawaii </ce-label>            
                  <ce-label> <i id="one" class="fas fa-map-marker-alt"></i> </ce-label>          
                </ce-row>            
              </ce-col>
              </ce-row>


            <ce-row>
              <ce-label id="SOS">SOS Message:</ce-label>
            </ce-row>
            <ce-row>
              <ce-label id="help">Help me...</ce-label>
            </ce-row>
            <ce-row>
             
                <button ce-button class="accept">Accept</button>
              
              
                <button ce-button class="reject">Reject</button>
             
            </ce-row>
          </div>
        </ce-card>
      </div>
    </ce-grid>
    <ce-grid>
      <div class="footerImage">
        <ce-col>
          <ce-row>
            <ce-label id="label">POWERED BY</ce-label><br>
          </ce-row>
          <ce-row> <img ce-card-avatar src="../../../assets/CircleEdges EPS (2).png" class="image"> </ce-row>
        </ce-col>
      </div>
    </ce-grid>
  </div>
</body>