.header {
  position: fixed;
    top: 0px;
    height: 45px;
    z-index: 2;
    color: #2a2e43;
    background: white;
    padding-top: 0.50em;
    font-size: 15px;
    width: 100%;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.2);
    
}