<div id="lineCont">
    <div id="line">
      <div class="circle" id="circle0" style="left:0%;"><i class="material-icons" id="stepper_icon">supervisor_account</i>
        <div class="popupSpan" id="first_location_padding"><b>Sitra</b></div>
      </div>
      <div class="circle" id="circle0" style="left:50%;">
        <div class="popupSpan" id="after_location_padding"><b>Peelamedu</b></div>
      </div>
      <div class="circle" id="circle0" style="left:100%;"><i class="material-icons" id="stepper_icon">location_on</i>
        <div class="popupSpan" id="after_location_padding"><b>Perur</b></div>
      </div>
    </div>
  </div>
