
 <body>
 
      <ce-card>
        <div class="card">
       <ce-grid>
           <ce-row>
             <ce-col  colSize="12" colSizeSm="12" colSizeMd="12" colSizelg="12" colSizeXl="12">
               <img class="NotiImage" src="../../../assets/newlogo.png">Nayat 
               <ce-label class="time">2 mins ago</ce-label>
             </ce-col>
           </ce-row>
         
       </ce-grid>
        </div>
        <hr>
        <div class="card">
        <ce-grid>
           <ce-row>
             <ce-col>Incident ID: 345674</ce-col>
           </ce-row>
           <br>
           <ce-row>
            <ce-col colSize="2.7" colSizeSm="2.7" colSizeMd="2.7" colSizeLg="2.7" colSizeXl="2.7">
              <i class="fas fa-user"></i>
            </ce-col>
            <ce-col class="information" colSize="2.7" colSizeSm="2.7" colSizeMd="2.7" colSizeLg="2.7" colSizeXl="2.7">
              <ce-row >
                Tom (Age 25)
              </ce-row>
              <br>
              <ce-row>
                1357, Randall Drive,kilaue, Hawain
              </ce-row>
            </ce-col>
           </ce-row>
           <br>
         </ce-grid>
         </div>
       </ce-card>
 
  
        
  </body>
 