<div>
  <img (click)="closeButtons()" id="logoImage" src="../../../assets/newlogo.png">
</div>
<span (click)="ShowButtons()" class="CircleButton" id="CircleButton"></span>
<div id="triggerButton" class="triggerButton">
  <!-- <div [routerLink]= "['/chat']" class="one"><i class="far fa-comment"></i></div> -->
  <div class="five"><img id="icons" src="../../../assets/police.png"></div>
  <div class="one"><i class="fas fa-fire"></i></div>
  <div (click)="ShowButtons2()" class="four">
    <i  class="fas fa-ambulance"></i>
  </div>
  <div class="two"><i class="far fa-bell"></i></div>
  <div class="three"><i class="fas fa-users"></i></div>
</div>
<div class="four" (click)="closeButtons()"><i class="fas fa-ambulance"></i></div>
<div>
  <span (click)="ShowButtons()" class="Buttons" id="CircleButton"></span>
</div>
<div id="Buttons" class="Buttons">
  <div class="triggerButton">
  <div class=" ambulance four" (click)="CloseButtons2()"> 
     <i class="fas fa-ambulance"></i>
    </div>
  </div>
  <div class="seven"><a href="chat"><i class="far fa-comment"></i></a></div>
  <div class="six"><i class="fas fa-phone fa-rotate-90"></i></div>
</div>
 




