.label{
    color:white;
}
.label-primary{
    color:#3880ff;
}
.label-secondary{
    color:#0cd1e8;
}
.label-tertiary{
    color:#7044ff;
}
.label-success{
    color:#10dc60;
}
.label-warning{
    color:#ffce00;
}
.label-danger{
    color:#f04141;
}
.label-dark{
    color:#222428;
}
.label-medium{
    color:#989aa2;
}
.label-light{
    color:#f4f5f8;
}
.label-underline{
    text-decoration: underline;
}